<section class="body">
  <div class="bg-image h-100">
    <div class="mask d-flex h-100">
      <div class="container">
        <div class="row">
          <!-- Left Half -->
          <div class="col-md-6">
            <h3 class="fw-bold mb-5 mx-1 md-4 mt-4">UPCOMING BOOKING</h3>

            <div class="card-body">
              <div
                class="row d-flex justify-content-between align-items-center ms-2 pt-2 mb-4"
                style="background-color: #d9f99d"
                *ngFor="let f of futureReservations.slice(
                  (currentPageFutureReservation - 1) * itemsPerPageFutureReservation,
                  currentPageFutureReservation * itemsPerPageFutureReservation
                )"
              >
                <div class="col-2 text-center">
                  <i class="fa-solid fa-car"></i>
                </div>

                <div class="col-4">
                  <p class="lead fw-normal mb-2 fw-bold">{{ f.model_name }}</p>
                  <p>
                    <span class="text-muted">Price: </span
                    ><b>₹ {{ f.total_price }} /-</b>
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    <span class="text-muted">From: </span
                    ><b>{{ f.start_date }}</b>
                  </p>
                  <p>
                    <span class="text-muted">To: </span><b>{{ f.end_date }}</b>
                  </p>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm px-3"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#deleteModal' + f.id"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                             <!-- Delete Confirmation Modal -->
                             <div
                             class="modal fade"
                             [id]="'deleteModal' + f.id"
                             tabindex="-1"
                             aria-labelledby="deleteModalLabel"
                             aria-hidden="true"
                           >
                             <div class="modal-dialog">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">
                                     Delete Confirmation
                                   </h5>
                                 </div>
                                 <div class="modal-body">
                                   Are you sure, you want to cancel the reservation?
                                 </div>
                                 <div class="modal-footer">
                                   <button
                                     type="button"
                                     class="btn btn-secondary"
                                     data-bs-dismiss="modal"
                                   >
                                     NO
                                   </button>
                                   <button
                                     type="button"
                                     class="btn btn-primary"
                                     data-bs-dismiss="modal"
                                     (click)="cancelReservation(f.id)"
                                   >
                                     YES
                                   </button>
                                 </div>
                               </div>
                             </div>
                           </div>
              </div>
              <!-- <hr class="my-4" /> -->
              <!-- Pagination controls -->
              <ul class="pagination justify-content-center mt-3" *ngIf="futureReservations.length>0">
                <li class="page-item" [class.disabled]="currentPageFutureReservation === 1">
                  <a
                    class="page-link"
                    (click)="currentPageFutureReservation = currentPageFutureReservation - 1"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  class="page-item text-danger"
                  *ngFor="let page of getPageNumbersFutureReservation()"
                  [class.active]="currentPageFutureReservation === page"
                >
                  <a class="page-link" (click)="currentPageFutureReservation = page">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPageFutureReservation === getLastPageFutureReservation()">
                  <a
                    class="page-link"
                    (click)="currentPageFutureReservation = currentPageFutureReservation + 1"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <div *ngIf="futureReservations.length == 0" class="w-100 h-75">
                  <ng-lottie [options]="empty"></ng-lottie>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Half -->
          <div class="col-md-6">
            <h3 class="fw-bold mb-5 mx-1 mx-md-4 mt-4">CURRENT BOOKING</h3>
            <div class="card-body">
              <div
                class="row d-flex justify-content-between align-items-center ms-2 pt-2 mb-4"
                style="background-color: #d9f99d"
                *ngFor="let c of currentReservation.slice(
                  (currentPageCurrentReservation - 1) * itemsPerPageCurrentReservation,
                  currentPageCurrentReservation * itemsPerPageCurrentReservation
                )"
              >
                <div class="col-2 text-center">
                  <i class="fa-solid fa-car"></i>
                </div>

                <div class="col-4">
                  <p class="lead fw-normal mb-2 fw-bold">{{ c.model_name }}</p>
                  <p>
                    <span class="text-muted">Price: </span
                    ><b>₹ {{ c.total_price }} /-</b>
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    <span class="text-muted">From: </span
                    ><b>{{ c.start_date }}</b>
                  </p>
                  <p>
                    <span class="text-muted">To: </span><b>{{ c.end_date }}</b>
                  </p>
                </div>
              </div>
              <!-- <hr class="my-4" /> -->
              <!-- Pagination controls -->
              <ul class="pagination justify-content-center mt-3" *ngIf="currentReservation.length>0">
                <li class="page-item" [class.disabled]="currentPageCurrentReservation === 1">
                  <a
                    class="page-link"
                    (click)="currentPageCurrentReservation = currentPageCurrentReservation - 1"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  class="page-item text-danger"
                  *ngFor="let page of getPageNumbersCurrentReservation()"
                  [class.active]="currentPageCurrentReservation === page"
                >
                  <a class="page-link" (click)="currentPageCurrentReservation = page">{{ page }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPageCurrentReservation === getLastPageCurrentReservation()">
                  <a
                    class="page-link"
                    (click)="currentPageCurrentReservation = currentPageCurrentReservation + 1"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
              <div class="d-flex justify-content-center">
                <div *ngIf="currentReservation.length == 0" class="w-100 h-75">
                  <ng-lottie [options]="empty"></ng-lottie>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
